<div>
<song class="col-sm-4 col-md-3" model="song.song"></song>
<p/>
<form>
  <div class="form-group">
    <label for="title">Song Title</label>
    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="song.song.title">
  </div>
  <div class="form-group">
    <label for="album">Album</label>
    <select class="form-control" name="album" id="album" ng-model="song.song.album_id">
        <option ng-repeat="album in song.albums" value="{{album.id}}">
            {{album.title}}
        </option>
    </select>    
  </div>
  
  <div class="form-group">
    <label for="lyricFile">Lyric File</label>
    <input type="file" id="lyricFile">
  </div>  
  
  <div class="form-group">
    <label for="mp3File">Audio File</label>
    <input type="file" id="mp3File">
    <p class="help-block">Please upload an optimized mp3 file. < 3mb</p>
  </div>  
  <button class="btn btn-default" ng-click="save(song);">Save</button>
</form>
</div>